.star-rating {
    display: inline-block;
  }
  
  .stars-outer {
    display: inline-block;
    overflow: hidden;
    font-size: 24px; 
  }
  
  .stars-inner {
    white-space: nowrap;
    width: 100%;
  }
  
  .stars-inner::before {
    content: "\2605\2605\2605\2605\2605"; 
    color: gold; 
  }